
*{
    margin: 0;
    padding: 0;
}
:root{
    --navbar-height: 10px;
}
html{
    scroll-behavior: smooth;
}
/* Navigation Bar */
#navbar{
    display: flex;
    align-items: center;
    justify-items: center;
    position: sticky;
    top: 0px;
}

#navbar::before{
    content: "";
    background-color: whitesmoke;
    position: absolute;
    top:0px;
    left:0px;
    height: 90%;
    width:100%;
    z-index: -1;
    opacity: 0.6;
}

/* Navigation Bar: Logo and Image */
#logo{
    margin: 3px 5px;
}

#logo img{
    height: 54px;
    margin: 3px 6px;
    border-radius: 30px;
}


/* Navigation Bar: List Styling */

#navbar ul{
    display: flex;
    font-family: 'Baloo Bhai', cursive;
}

#navbar ul li{ 
    list-style: none;
    font-size: 1.6rem;
}

#navbar ul li a{
    color: white;
    display: block;
    margin: 8px 10px;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a:hover{
    color: seagreen;
}
/* Home Section */
#home{
    display: flex;
    flex-direction: column;
    padding:3px 200px;
    height: 550px;
    justify-content: center;
    align-items: center;
}

#home::before{ 
    content: "";
    position: absolute;
    background: url('leafy.jpg') no-repeat center center/cover;
    height: 550px;
    top:0px;
    left:0px;
    width: 100%;
    z-index: -1;
    opacity:0.89;
}

#home h1{
    color: ghostwhite;
    text-align: center;
    font-family: 'Bree Serif', serif;
}

#home p{
    color:darkgrey;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Bree Serif', serif;
}
/* Services Section */
#services{
    margin: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#services .box{ 
    border: 2px solid brown;
    padding: 34px;
    margin: 2px 55px;
    border-radius: 28px;
    background: #f2f2f2;
    margin-bottom: 20px;
}

#services .box img{ 
   height: 160px;
   margin: auto;
   display: block;
}

#services .box p{
    font-family: 'Bree Serif', serif;
}

/* Contact Section */

#contact{
    position: relative;
}
#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url('../contact.jpg') no-repeat center center/cover;

}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}
#contact-box input, 
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
} 

#contact-box form{
    width: 40%;
}

#contact-box label{
   font-size: 1.3rem;
   font-family: 'Bree Serif', serif;

}


footer{
    background: black;
    color: white;
    padding: 9px 20px;
}

/* Utility Classes */
.h-primary{
    font-family: 'Bree Serif', serif;
    font-size: 3.8rem;
    padding: 12px;
}

.h-secondary{
    font-family: 'Bree Serif', serif;
    font-size: 2.3rem;
    padding: 12px;
}

.btn{
    padding: 6px 20px;
    border: 2px solid seagreen;
    background-color: white; 
    color: seagreen;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor:pointer;
    font-family: 'Baloo Bhai', cursive;
    transition: 0.3s;
}
.btn:hover{
    color: white;
    background-color: seagreen;
}   
* {box-sizing: border-box}
/* Full-width input fields */
  input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: whitesmoke;
  font-family: 'Bree Serif', serif;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
  background-color: whitesmoke;
  outline: none;
}

/* Set a style for all buttons */
button {
  padding: 3px 7px; 
    color: seagreen;
    margin: 10px;
    font-size: 1.5rem;
    border-radius: 10px;
    border: 2px solid seagreen;
    cursor:pointer;
    font-family: 'Baloo Bhai', cursive;
    transition: 0.3s;
    top: 0px;
}

button:hover {
    color: white;
    background-color:seagreen;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 6px 10px;
  background-color: whitesmoke;
  font-family: 'Bree Serif', serif;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
  font-family: 'Bree Serif', serif;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background: url('leafy.jpg') no-repeat center center/cover;
  padding-top: 50px;
  font-family: 'Bree Serif', serif;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  font-family: 'Bree Serif', serif;
}
.modal-content:hover,
.modal-content:focus {
    border: 1px solid black;
    cursor: pointer;
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
  font-family: 'Bree Serif', serif;
}
hr:hover,
hr:focus {
    border: 1px solid black;
    cursor: pointer;
}
/* The Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: indianred;
  border: 0px;

}

.close:hover,
.close:focus {
  color: whitesmoke;
  cursor: pointer;
  background-color: red;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
    font-family: 'Bree Serif', serif;
  }
}
.h2{
    position: centre;
}
body {font-family: Arial, Helvetica, sans-serif;}
* {
    box-sizing: border-box;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  display: inline-block;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  display: inline-block;
}